.header {
  width: 100%;
  background-color: rgb(46, 42, 165);
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.modify-btn {
  width: 100px;
  height: 50px;
  background-color: rgb(46, 42, 165) !important;
  color: aliceblue !important;
}

.modify-btn:hover {
  opacity: 0.6;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.donations-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  background-color: #747bff;
  padding: 20px;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.flex-container-col-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation {
  width: 350px;
  height: 190px;
  background-color: rgb(247, 250, 250);
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
}

.input-field {
  width: 350px;
  border-radius: 10px !important;
  background-color: rgb(247, 250, 250);
  color: dimgray !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0) !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgba(0, 0, 0, 0) !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: aliceblue !important;
  padding: 2px;
  margin: 2px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: aliceblue !important;
  border-radius: 10px !important;
}

.form-container-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: center;
  align-items: center;
}

.form-btn {
  width: 100px;
  height: 50px;
  margin: 10px !important;
  background-color: rgb(46, 42, 165) !important;
  color: #ffffff !important;
}
.btn-wrapper :hover {
  opacity: 0.6;
}

.body-title {
  font-size: 32px;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  justify-content: center;
  align-items: flex-start !important;
}

.title-primary {
  font-family: "Pacifico", cursive;
  font-size: 147px;
}

.text-primary {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.text-secondary {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #213547;
  transition: 0.3s;
}

.text-secondary:hover {
  font-weight: bold;

  color: rgb(46, 42, 165);
  font-size: 36px;
  transition: 0.3s;
}

.not-found-img {
  width: 350px;
}
