.header {
  width: 100%;
  background-color: rgb(46, 42, 165);
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.donations-container {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.donation {
  width: 300px;
  height: 150px;
  background-color: rgb(247, 250, 250);
  border-radius: 20px;
  padding: 10px;
  /* margin: 10px; */
}

.input-field {
  width: 350px;
  border-radius: 20px !important;
}

.form-container-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: center;
  align-items: center;
}

.form-btn {
  width: 100px;
  height: 50px;
  margin: 10px !important;
  background-color: rgb(46, 42, 165) !important;
}
