.header {
  width: 100%;
  background-color: rgb(46, 42, 165);
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.donations-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.donation {
  width: 350px;
  height: 190px;
  background-color: rgb(247, 250, 250);
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
}

.input-field {
  width: 350px;
  border-radius: 10px !important;
  background-color: rgb(247, 250, 250);
  color: dimgray !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0) !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgba(0, 0, 0, 0) !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: aliceblue !important;
  padding: 2px;
  margin: 2px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: aliceblue !important;
  border-radius: 10px !important;
}

.form-container-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: center;
  align-items: center;
}

.form-btn {
  width: 100px;
  height: 50px;
  margin: 10px !important;
  background-color: rgb(46, 42, 165) !important;
}

.body-title {
  font-size: 32px;
}
