.root {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.root-btn {
  width: 200px;
  height: 50px;
  margin: 10px !important;
  background: linear-gradient(0.25turn, #747bff, #8f94fa);
}

.link-btn :hover {
  opacity: 0.6;
}
